.about-section {
  color: var(--clr-base-300);
  .flex {
    margin-block: 2rem;
    & > div {
      margin-bottom: 2rem;
    }
  }
}
.about-section .col-media {
  position: relative;
}
.about-section .polaroid {
  transform: rotate(3deg);
}
.secondary-heading {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-block: 2rem;
  h3 {
    margin-bottom: 0.5rem;
  }
}
.crew-img {
  background-color: var(--clr-primary-lite);
  border-radius: 50%;
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
  height: 150px;
  width: 150px;
}
