@font-face {
  font-family: "kg_ten_thousand_reasonsRg";
  src: url("../fonts/kgtenthousandreasons-r1ll-webfont.woff2") format("woff2"),
    url("../fonts/kgtenthousandreasons-r1ll-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kg_second_chances_sketchRg";
  src: url("../fonts/kgsecondchancessketch-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessketch-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kg_second_chances_solidRg";
  src: url("../fonts/kgsecondchancessolid-webfont.woff2") format("woff2"),
    url("../fonts/kgsecondchancessolid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsitalic";
  src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
    url("../fonts/poppins-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
